@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --t2: 0.5rem;
  --t4: 1rem;
  --t12: 3rem;
}

html,
body {
  @apply font-sans;

  color: #24292e;
}

@responsive {
  .h-80 {
    height: 20rem;
  }
}

.justify-self-center {
  justify-self: center;
}

.grid {
  display: grid;
}

.grid-template {
  grid-template-columns: var(--t4) auto 1fr auto var(--t4);
}

.grid-template-2,
.grid-template-movie {
  grid-template-columns: 1fr;
}

.grid-template-center {
  grid-column: 3/4;
}

.grid-gap-2 {
  grid-gap: var(--t2);
}

.grid-gap-4 {
  grid-gap: var(--t4);
}

.grid-gap-12 {
  grid-gap: var(--t12);
}

@media (min-width: 960px) {
  .grid-template {
    grid-template-columns: var(--t4) 1fr 960px 1fr var(--t4);
  }

  .grid-template-movie {
    grid-template-columns: 200px 1fr;
  }

  .grid-template-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
